{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "globalReturn": false
  },
  "rules": {
    "no-unused-vars": false,
    "no-underscore-dangle": false,
    "no-use-before-define": false,
    "quotes": [2, "single"],
    "comma-dangle": "always",
    "react/display-name": true,
    "react/jsx-boolean-value": true,
    "react/jsx-quotes": true,
    "react/jsx-no-undef": true,
    "react/jsx-sort-props": true,
    "react/jsx-uses-react": true,
    "react/jsx-uses-vars": true,
    "react/no-did-mount-set-state": true,
    "react/no-did-update-set-state": true,
    "react/no-multi-comp": true,
    "react/no-unknown-property": true,
    "react/prop-types": true,
    "react/react-in-jsx-scope": true,
    "react/self-closing-comp": true,
    "react/wrap-multilines": true
  }
}
