/* https://eduardoboucas.com/blog/2015/06/18/viewport-sized-typography-with-minimum-and-maximum-sizes.html */
@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive) == 'vh', 'height', 'width');
    $min-breakpoint: $min / $responsive-unitless * 100;

    @media (max-#{$dimension}: #{$min-breakpoint}) {
        font-size: $min;
    }

    @if $max {
        $max-breakpoint: $max / $responsive-unitless * 100;

        @media (min-#{$dimension}: #{$max-breakpoint}) {
            font-size: $max;
        }
    }

    @if $fallback {
        font-size: $fallback;
    }
    font-size: $responsive;
}

h1 {
    @include responsive-font(1.5vw, 2em);
}
h2 {
    @include responsive-font(1.5vw, 1.3em);
}
h3 {
    @include responsive-font(1.5vw, 1em);
}
h4 {
    @include responsive-font(1.5vw, 0.7em);
}

/* XXX: removed from base theme??? */
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 27px;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}
.prevnext-pages {
    letter-spacing: 1px;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    background-color: inherit;
    font-size: inherit;
}

.header-anchor {
    display: block;
    position: relative;
    top: -5vh;
}

ul ul {
    margin-left: 1em;
}

li {
    margin-bottom: 0.5em;
    padding-right: 2em;
}

ul ul li {
    margin-bottom: 0.25em;
}

pre {
    padding: 0.5em;
    padding-left: 1em;
}

pre code {
    line-height: 1.5;
    font-size: 0.8rem;
}

code {
    padding: 0.25em;
}

.frontpage, .post, .prevnext {
    max-width: 100%;
}
.prevnext__next, .prevnext__prev {
    width: 50;
}

.frontpage {
    .front-text-wrapper {
        margin-top: 2em;
        margin-bottom: 2em;
        max-width: 100%;
        text-shadow: 0 0 0.1em rgba(0,0,0,1);

        .front__buttons {
            .btn {
                margin-bottom: 0.5em;
            }

            .btn--inverted {
                &:hover {
                    text-shadow: initial;
                }
            }
        }
    }

    .front-header, .front-motto {
        color: white;
        margin-bottom: 0.5em;
    }

    .front-header {
        margin-top: 0;
        margin-bottom: 0;
    }

    .front-motto {
        margin-top: 0;
    }

    .front__heading {
        background: #323232;
        text-align: center;
    }

    .react-image {
        margin-left: 1em;
        margin-right: 1em;
        width: 100px;
        height: 100px;
        float: right;
    }

    .kanban-image {
        height: initial;
    }

    .front-cover {
        width: 255px;
        box-shadow: 0 0 1em 0.02em rgba(0,0,0,0.5);
        margin: 0 auto;
        margin-bottom: 1em;
    }

    @media screen and (min-width: 1150px) {
        .front-cover {
            margin-top: 1em;
        }

        .post--front {
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .post__content {
            margin-right: 2em;
        }
        .post__sidebar {
            min-width: 250px;
            font-size: 80%;

            ul > li:before {
                content: '';
            }
        }
    }

    .front-cover-wrapper {
        vertical-align: middle;
    }

    .author-photo {
        clear: both;
        float: right;
        margin-left: 0.5em;
        border-radius: 50px;
        width: 100px;
        height: 100px;
    }
}

.nav {
    padding: 0;
    top: 0;
    bottom: auto;
    position: fixed;
    background: white;
    z-index: 1000;
}
.header-image, .header-image + .post__heading {
    z-index: 0; /* make sure they are behind nav */
}

.post__content img {
    position: inherit;
    width: 100%;
}

.post-list__demo {
    margin-bottom: 1em
}

.post__meta {
    margin-bottom: 1em;
}
.post__end_source {
    margin-left: 1em;
}
.post__demo {
    margin-left: 1em;
}

.header-image + .post__heading {
    margin-top: calc(40vh);
}
.header-image {
    height: 78vh;
}
.header-image + .post__heading + .post__content {
    margin-top: 75vh;
    padding-top: 5vh;
}
.docs-nav {
    flex-direction: column;
}
.docs-nav__wrapper--push-down {
    margin-top: 75vh;
}
@media screen and (min-width: 1150px) {
    .docs-nav__link {
        margin-right: auto;
    }

    .docs-nav__wrapper--push-down + .header-image + .post__heading + .post__content {
        margin-top: 75vh;
    }

    .post__heading {
        font-size: 54px;
    }
}

.header-extra {
    font-size: small;
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: calc(70vh);
    margin-left: calc(5vh);
    z-index: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.header-extra a {
    color: #ddd;
}

.header-anchor-select {
    opacity: 0;
    margin-left: 0.25em;
    transition: opacity .25s ease-in-out;
}

h1:hover .header-anchor-select,
h2:hover .header-anchor-select,
h3:hover .header-anchor-select,
h4:hover .header-anchor-select {
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

.previous-page, .next-page {
    background: white;

    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    position: fixed;
    bottom: 20px;
}

.previous-page {
    left: 10px;
}

.next-page {
    right: 10px;
}

.previous-page::before {
    content: "\2190";
}

.next-page::after {
    content: "\2192";
}

.nav {
    left: 0;
}

@media (max-width: 550px) {
    .post__heading h1 {
        margin: 0;
    }

    .prevnext-pages {
        position: inherit;
        height: auto;
        top: auto;
        left: auto;
        right: auto;
    }

    .next-page, .previous-page {
        padding: 5px;
        background: white;
        top: inherit;
    }

    .previous-page {
        bottom: 50px;
    }

    .next-page {
        bottom: 10px;
    }

    .nav {
        padding-top: 0.5em;
    }

    .nav__wrapper {
        z-index: 1000;
        background: white;
    }
}

blockquote.tip {
    font-size: medium;
    background-color: #F5FFFB;
    padding: 1em;
    margin-bottom: 1em;
}

blockquote.warning {
    font-size: medium;
    background-color: #FFFFFA;
    padding: 1em;
    margin-bottom: 1em;
}
