body {}
.logo {
    margin-bottom: 40.5px;
    > svg {
        width: 135px;
        height: 99px;
        path {
            height: 100%;
            fill: #fff;
        }
    }

}
.front-header {
    font-size: 54px;
    line-height: 1.5;
}

.header-image--front {
    background-size: 100%;
}

.post__content img {
    position: inherit;
    width: 100%;
}

.previous-page, .next-page {
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    position: fixed;
    top: 20px;
}

.previous-page {
    left: 10px;
}

.next-page {
    right: 10px;
}

.previous-page::before {
    content: "\2190";
}

.next-page::after {
    content: "\2192";
}

@media (max-width: 550px) {
    .post__heading h1 {
        margin: 0;
    }

    .next-page, .previous-page {
        padding: 5px;
        background: white;
        top: inherit;
    }

    .previous-page {
        bottom: 50px;
    }

    .next-page {
        bottom: 10px;
    }
}

blockquote.tip {
    background-color: rgb(234, 255, 247);
    padding: 1em;
    margin-bottom: 1em;
}

blockquote.warning {
    background-color: rgb(255, 255, 239);
    padding: 1em;
    margin-bottom: 1em;
}
