.post__content img {
    position: inherit;
    width: 100%;
}

.header-extra {
    font-size: small;
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: calc(95vh);
    margin-left: calc(5vh);
    z-index: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.header-extra a {
    color: #ddd;
}

.header-anchor {
    margin-left: 0.25em;
}

.prevnext-pages {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background: linear-gradient(to top, rgba(#fff, 0) 0%, #fff 35%, #fff 100%);
}

.previous-page, .next-page {
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;

    position: fixed;
    top: 20px;
}

.previous-page {
    left: 10px;
}

.next-page {
    right: 10px;
}

.previous-page::before {
    content: "\2190";
}

.next-page::after {
    content: "\2192";
}

@media (max-width: 550px) {
    .post__heading h1 {
        margin: 0;
    }

    .prevnext-pages {
        position: inherit;
        height: auto;
        top: auto;
        left: auto;
        right: auto;
    }

    .next-page, .previous-page {
        padding: 5px;
        background: white;
        top: inherit;
    }

    .previous-page {
        bottom: 50px;
    }

    .next-page {
        bottom: 10px;
    }
}

blockquote.tip {
    font-size: medium;
    background-color: #F5FFFB;
    padding: 1em;
    margin-bottom: 1em;
}

blockquote.warning {
    font-size: medium;
    background-color: #FFFFFA;
    padding: 1em;
    margin-bottom: 1em;
}
