body {
  background: cornsilk;

  font-family: sans-serif;
}

.notes {
  max-width: 10em;

  margin: 0.5em;

  padding-left: 0;

  list-style: none;
}

.note {
  margin-bottom: 0.5em;

  padding: 0.5em;

  background-color: #fdfdfd;

  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.3);
}
.note:hover {
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.7);

  transition: .6s;
}

.note:hover .delete {
  visibility: visible;
}
.note .delete {
  float: right;

  padding: 0;

  background-color: #fdfdfd;
  border: none;

  cursor: pointer;
  cursor: hand;

  visibility: hidden;
}
